:root {
    --bright: 1;
}
@font-face {
    font-family: 'OpenDyslexic';
    src: url('../public/opendyslexic-0.91.12/compiled/OpenDyslexic-Regular.otf') format("opentype");
}


body {
    font-family: 'OpenDyslexic', sans-serif;
    /* Use the font family */
    background-color: #DBE1F1;
    color: #000;
    font-size: 1.2em;
    line-height: 2;
    text-align: justify;

}

.full-converted-text {
    backdrop-filter: brightness(var(--bright));
    & h1 {
        font-size: 2em;
        line-height: 1.5em;
        padding: 1em 0;
    }

    & h2 {
        font-size: 1.5em;
        line-height: 1.5em;
        padding: 1em 0;
    }

    & h4 {
        font-size: 1.5em;
        line-height: 1.5em;
        padding: 1em 0;
        text-align: center;
    }

    & h5 {
        font-size: 1.5em;
        line-height: 1.5em;
        padding: 1em 0;
        text-transform: uppercase;
    }

    & p+p {
        padding: 1em 0;
    }

    & footer {
        padding: 1em 0;
    }

    blockquote {
        font-size: 1em;
        line-height: 1.5em;
        padding: 1em 0;
    }
    .highlight {
        background-color: #FFD700;
    }
}

@media (min-width: 800px) {
    .full-converted-text {
        margin: 0 10em;
    }
}